.swal2-styled.swal2-confirm, .swal2-styled.swal2-deny {
    background: transparent!important;
    border: 2px solid #ccc!important;
    color: $c-dark!important;
}
.swal2-styled.swal2-confirm:focus, .swal2-styled.swal2-deny:focus {
    box-shadow: none!important;
}