.system-layout {
    margin-top: 6rem;
}
.btn-actions {
    border: 1px solid #ccc !important;

    &:hover {
        background: #ddd;
    }
}

td.dx-datagrid-action {
    text-align: center !important;
}

.modal-body {
    position: relative !important;
    overflow-x: hidden;
}

.alert-danger {
    position: absolute !important;
    transform: translateY(-150%);
    top: 10px;
    right: 15px;
    transition: 0.3s ease-out;
    z-index: 900!important;

    &.animaAlert {
        transform: unset;
    }
}
#rowID {
    display: none;
}
.data-control {
    position: absolute;
    top: 0px;
    z-index: 200;
    left: 30px;
    background: #fff;
}

.head-module {
    position: absolute;
    padding: 0.5rem 1rem;
    left: 10px;
    top: -1px;
    font-size: 1rem;
    background: #fff;
    box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px, rgba(0, 0, 0, 0.1) 0px 2px 3px;
    border-radius: 12px 7px;
}