.btn-actions {
    border: 1px solid #ccc !important;

    &:hover {
        background: #ddd;
    }
}

td.dx-datagrid-action {
    text-align: center !important;
}

.modal-body {
    position: relative !important;
    overflow-x: hidden;
}

.alert-danger {
    position: absolute !important;
    transform: translateY(-150%);
    top: 10px;
    right: 15px;
    transition: 0.3s ease-out;
    z-index: 900!important;

    &.animaAlert {
        transform: unset;
    }
}
#rowID {
    display: none;
}
.data-control {
    position: absolute;
    top: 0px;
    z-index: 200;
    left: 30px;
    background: #fff;
}